<!-- templates/base.html -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>
<body>
    <!-- Encabezado con logo y navegación -->
    <header class="bg-light">
        <div class="container d-flex justify-content-between align-items-center py-3">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="250" >
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'premios' %}">Premios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Metodos_de_pago' %}">Métodos de pago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'lista' %}">Reservar Números</a>
    </li>
</ul>

                </div>
            </nav>
        </div>
    </header>

    <!-- Contenido principal -->
    <main class="container my-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Pie de página -->
    <footer class="bg-light text-center py-3">
        <p>&copy; 2024 Juarezlucky . Todos los derechos reservados.</p>
    </footer>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>